body {
  background: linear-gradient(
    0deg,
    rgba(4, 0, 80, 1) 0%,
    rgba(1, 29, 61, 1) 35%,
    rgba(1, 104, 125, 1) 100%
  );
  text-align: center;
  background-attachment: fixed;
}
h1 {
  text-align: Center;
  color: rgb(187, 184, 21);
}
#gifSearch {
  margin-bottom: 15px;
}
#userInput {
  border-radius: 5px;
  height: 25px;
}
#formSubmit,
#removeGIFs {
  height: 31px;
  border-radius: 5px;
}
#removeGIFs {
  background: rgb(30, 18, 138);
  border: rgb(30, 18, 138);
  color: lightblue;
}
#gifContainer {
  margin-left: 5%;
  margin-right: 5%;
  background: rgba(162, 176, 179, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
}
