body {
  background: linear-gradient(
    0deg,
    rgba(4, 0, 80, 1) 0%,
    rgba(1, 29, 61, 1) 35%,
    rgba(1, 104, 125, 1) 100%
  );
  text-align: center;
  background-attachment: fixed;
}
h1 {
  text-align: Center;
  color: blue;
}
#gifSearch {
  margin-bottom: 15px;
}
#userInput {
  border-radius: 5px;
  height: 25px;
}
#formSubmit,
#removeGIFs {
  height: 31px;
}
