body {
  background: linear-gradient(
    0deg,
    rgba(4, 0, 80, 1) 0%,
    rgba(1, 29, 61, 1) 35%,
    rgba(1, 104, 125, 1) 100%
  );
  background-attachment: fixed;
}
h1 {
  text-align: Center;
  color: blue;
}
body {
  text-align: center;
}
